@charset "utf-8";
/* CSS Document */

body{
    text-align: center;
    background: #FF5733;
    font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
#wrapper{
    background: #fff;
    margin: 0 auto;
    width: 80%;
    text-align: left;
    padding: 30px;
    border-radius: 20px;
}
h1{
    color: #fff;
}

table{
    width: 100%;
}
th{
    background: #216DA4;
    color: #fff;
    margin: 0;
    padding: 7px;
    text-align: center;
}
td{
    border: solid #000 1px;
    margin: 0;
    padding: 5px;
    text-align: center;
}